[submodule "youhavebeentasked"]
	path = youhavebeentasked
	url = git@github.com:mikaturunen/youhavebeentasked.git
[submodule "yhbt-header"]
	path = yhbt-header
	url = git@github.com:mikaturunen/yhbt-header.git
[submodule "yhbt-definitions"]
	path = yhbt-definitions
	url = git@github.com:mikaturunen/yhbt-definitions.git
[submodule "yhbt-seed"]
	path = yhbt-seed
	url = git@github.com:mikaturunen/yhbt-seed.git
