[submodule "yhbt-definitions"]
	path = yhbt-definitions
	url = git@github.com:mikaturunen/yhbt-definitions.git
[submodule "yhbt-components"]
	path = yhbt-components
	url = git@github.com:mikaturunen/yhbt-components.git
